# STM32CubeIDE / build
**/Debug/
**/Release/
**/.settings/
**/.metadata/
**/*.launch

# Compilatie-output
*.o
*.elf
*.map
*.bin
*.hex

# KiCad
**/*.bak
**/*.kicad_prl
**/*.kicad_sch-bak
**/*.kicad_pcb-bak
**/*.dcm
**/*.bck
**/tmp/
**/backup/

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
Thumbs.db
# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
